body {
  font-size: 1.1rem !important;
}

.terminal strong {
  font-size: 1.1rem !important;
}

details {
  padding: 1rem;
}

details strong {
  padding-left: 1rem;
}

details div {
  padding-top: 0.5rem;
}

select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0.4rem;
}

h2 {
  font-size: 1.3rem !important;
}
